<div class="color-form">

  <!--カラーグループ入力フォーム-->
  <div class="color-form__decoration">
    <i class="fas fa-palette"></i>
  </div>
  <!-- カラーグループを使用するかのチェックボックス -->
  <%= color_manage_record.label :color_flg,"マーカー" ,class: "color-form__lavel"%>
  <% if color_manage_record.object[:color_flg] == "1" %>
    <%= color_manage_record.check_box :color_flg,class: "color-form__box" ,checked: true%>
  <% else %>
    <%= color_manage_record.check_box :color_flg,class: "color-form__box" ,id: "color_check",checked: false%>
  <% end %>

  <div class="info_string">カラー機能を利用する場合はチェックしてください</div>

  <!--   カラーグループ選択フォーム-->
  <div class="color-make">
    <div class="color-make__lavel">グループ選択</div>
    <% if @color_select.count >= 1 %>
      <%= knowledge_record.select :color_manage_id, @color_select.map{|t| [t.group_word,t.id]},{},{class: "color-make__text color-form__control"} %>
    <% else %>
      <%= knowledge_record.select :color_manage_id, ['未登録のため選択できません'],{},{class: "color-make__text color-form__control"} %>
      <%= knowledge_record.hidden_field :color_manage_id ,value: nil %>
    <% end %>
    <div class="info_string">カラーグループを選択した場合、グループの新規追加はできません。</div>
  </div>

  <!--  カラータイプ、どの設定にするか。-->
  <div class="color-make">
    <div class="color-make__lavel">color_type</div>
    <%= color_manage_record.radio_button :color_type, :graphic ,class:"color-form__button color-form__control" ,disabled: true %>
    <%= color_manage_record.label :color_type, "graphic-color", {class: "color-form__tag"} %>

    <%= color_manage_record.radio_button :color_type, "single",class:"color-form__button color-form__control" ,disabled: true %>
    <%= color_manage_record.label :color_type, "single-color", {class: "color-form__tag"} %>

    <%= color_manage_record.radio_button :color_type, :double,class:"color-form__button color-form__control" ,disabled: true %>
    <%= color_manage_record.label :color_type, "double-color", {class: "color-form__tag"} %>
  </div>

</div>

<!-- カラーグループ入力フォーム1 -->
<div class="color-make">
  <div class="color-make__lavel">color(1)</div>
  <%= color_manage_record.select :color_1 ,Settings.color_select[:select_box],{},{class: "color-make__text color-form__control",disabled: true} %>
  <div class="info_string">single-colorを選択する場合は、color(1)のみが反映されます。</div>
</div>

<!-- カラーグループ入力フォーム2 -->
<div class="color-make">
  <div class="color-make__lavel">color(2)</div>
  <%= color_manage_record.select :color_2 ,Settings.color_select[:select_box],{},{class: "color-make__text color-form__control",disabled: true} %>
  <div class="info_string">グラフィックやダブルカラーを選択した場合はcolor(2)が必須です</div>
</div>

<!-- カラーキーワード -->
<div class="color-make">
  <div class="color-make__lavel">keyword</div>
  <%= color_manage_record.text_field :group_word ,class: "color-make__text color-form__control",placeholder:"（3文字以下）",disabled: true %>
  <div class="info_string">カラーグループに対するキーワード。例）RUB,SQL,日報...など</div>
</div>

<!-- カラーキーワードのカラー -->
<div class="color-make">
  <div class="color-make__lavel">group-color</div>
  <%= color_manage_record.select :word_color ,Settings.color_select[:select_box],{},class: "color-make__text color-form__control",disabled: true %>
</div>

<!--入力制御用jquery-->
<script>
  $('#color_check').change(function() {
      // チェックが入っていたら有効化
      if ( $(this).is(':checked') ){
          // 有効化
          $('.color-form__control').prop('disabled', false);
      } else {
          // 無効化
          $('.color-form__control').prop('disabled', true);
      }
  });
</script>