<div class="krown-area" xmlns="http://www.w3.org/1999/html">
  <% if not @knowledge.nil? %>

    <div class="krown-header">
      <div class="krown-header__category">グループ： <%= @knowledge.genre.in_genre %></div>
      <div class="krown-header__date">作成日:<%= @knowledge.created_at.strftime('%y/%m/%d') %></div>
      <div class="krown-header__date">更新日:<%= @knowledge.updated_at.strftime('%y/%m/%d') %></div>
      <button type="button" class="btn btn-success btn-xs krown-update__button">
        <div class="krown-update__label ">
          <%= link_to "このメモを更新", edit_krown_path(@knowledge.id), method: :get %>
        </div>
      </button>
      <button type="button" class="btn btn-danger btn-xs krown-delete__button">
        <div class="krown-delete__label ">
          <%= link_to "このメモを削除", krown_path(@knowledge.id), method: :delete, data: { confirm: '本当に削除しても良いですか。'} %>
        </div>
      </button>

    </div>
    <div class="krown-no">No.<%= @knowledge.id %></div>
    <div class="krown-title"><%= @knowledge.title %></div>
    <div class="krown-border"></div>
    <div class="krown-value">
      <!-- 以前はヘルパーで加工した内容を表示していた。-->
      <%#= gsub_space(br(@knowledge.content)) %>
      <!--  備考欄がある場合は、出力内容を変更する-->
      <% if @knowledge.remark_flg == "1" %>
        <textarea class="krown-textarea_remark" readonly ><%= @knowledge.content.html_safe %></textarea>
        <div class="krown-help">
          <textarea class="help-textarea" readonly ><%= @knowledge.remark.html_safe %></textarea>
        </div>
      <% else %>
        <textarea class="krown-textarea_default" readonly ><%= @knowledge.content.html_safe %></textarea>
      <% end %>
    </div>

  <% else %>
    <div class="krown-header">
      <div class="krown-header__category">グループ： - </div>
      <div class="krown-header__date">作成日: - </div>
      <div class="krown-header__date">更新日: - </div>
    </div>
    <div class="krown-no">No. - </div>
    <div class="krown-title"> 登録がありません</div>
    <div class="krown-border"></div>
    <div class="krown-value">該当するグループにクラウンの登録がないため、表示する内容がありません</div>
  <% end %>
</div>