<div class="main-tab">
  <div class="tab-box">
    <div class="table-area">
      <table cellspacing="0" cellpadding="5" class="table-striped table-borderles table-hover">
        <!-- ヘッダ部定義 -->
        <tr>
        <th width="7%">投稿 ユーザ</th>
        <th width="6%">更新日時</th>
        <th width="3%">番号</th>
        <th width="3.5%">color</th>
        <th width="25%">タイトル</th>
        <th width="2%">file</th>
        <th width="2%">補足</th>
        <th width="17%">内容</th>
        </tr>
        <!-- データ部定義 -->
        <% if @knowledge.present? %>
          <% @knowledges.each do |knowledge| %>
            <tr>
              <!-- ユーザ名 -->
              <td class="td-decoration__of-user"><%= knowledge.user.name.truncate(7) %></td>
              <!-- 作成日-->
              <td class="td-decoration__of-time"><%= knowledge.updated_at.gmtime.strftime('%m/%d %H:%M') %></td>
              <!-- 番号-->
              <td class="td-decoration__of-number"><%= link_to knowledge.id, krown_path(knowledge.id),remote: :true%></td>
              <!-- カラーグループ -->
              <td style="<%= get_color_attribute(knowledge)%>" class="td-decoration__of-color"><%= get_color_keyword(knowledge) %></td>
              <!-- タイトル-->
              <td class="td-decoration__of-title"><%= knowledge.title.truncate(30) %></td>
              <!-- 添付ファイル有無フラグチェック -->
              <% if knowledge.img_flg == "1" %>
                <td><i class="fas fa-camera-retro"></i></td>
              <% else %>
                <td> - </td>
              <% end %>
              <!-- 備考欄入力有無-->
              <% if knowledge.remark_flg == "1" %>
                <td><i class="fas fa-info-circle"></i></td>
              <% else %>
                <td> - </td>
              <% end %>
              <!-- 内容 -->
              <td class="td-decoration"><%= knowledge.content.truncate(35) %></td>
            </tr>
          <% end %>
        <% else %>
            <tr>
              <td> - </td>
              <td> - </td>
              <td> - </td>
              <td> - </td>
              <td> - </td>
              <td> - </td>
              <td> - </td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
<!--  ページネーションはスクロール対象外-->
  <div class="page-nation">
    <%= paginate(@knowledges) %>
  </div>
</div>