<div class="main-krown-area">
  <div class="krown-area">
    <% if not @knowledge.nil? %>
      <div class="krown-header">
        <div class="krown-header__category">ジャンル： <%= @knowledge.genre.in_genre %></div>
        <div class="krown-header__date">作成日:<%= @knowledge.created_at.strftime('%y/%m/%d') %></div>
        <div class="krown-header__date">更新日:<%= @knowledge.updated_at.strftime('%y/%m/%d') %></div>
        <button type="button" class="btn btn-success btn-xs krown-update__button">
          <div class="krown-update__label ">
            このメモを更新
            <%#= link_to "このメモを更新", krown_path(@knowledge.id), method: :delete  %>
          </div>
        </button>
        <button type="button" class="btn btn-danger btn-xs krown-delete__button">
          <div class="krown-delete__label ">
            <%= link_to "このメモを削除", krown_path(@knowledge.id), method: :delete  %>
          </div>
        </button>

      </div>
      <div class="krown-no">No.<%= @knowledge.id %></div>
      <div class="krown-title"><%= @knowledge.title %></div>
      <div class="krown-border"></div>
      <div class="krown-value">
        <%#= simple_format(br(@knowledge.content)) %>
<!--        改行コードを変換後、スペースを変換する-->
        <%= gsub_space(br(@knowledge.content)) %>
      </div>
    <% else %>
      <div class="krown-header">
        <div class="krown-header__category">ジャンル： - </div>
        <div class="krown-header__date">作成日: - </div>
        <div class="krown-header__date">更新日: - </div>
      </div>
      <div class="krown-no">No. - </div>
      <div class="krown-title"> 登録がありません</div>
      <div class="krown-border"></div>
      <div class="krown-value">該当するジャンルにクラウンの登録がないため、表示する内容がありません</div>
    <% end %>
  </div>
  <div class="main-krown-file">
    <div class="box">
      <% if @knowledge.img_flg.to_i == 1 %>
      <%# if false %>
        <%#= image_tag(@knowledge.image.url, class: "box__val" )%>
        <%= image_tag(@knowledge.image.thumb.url, class: "box__val" )%>
        <div class="status">
          <div class="status__name">ファイル名：<%= @attachment.name %></div>
          <div class="status__size">サイズ：<%= "#{number_with_delimiter @attachment.file_size} byte" %></div>
        </div>
      <% else %>
        <div class="box__val">
          <img src="https://www.tcmobile.jp/dev_blog/wp-content/uploads/2015/09/022c1ca11803434db443573590757756.png" width="250" height="250">
        </div>
        <div class="status">
          <div class="status__name">このインシデントには画像が添付されていません</div>
<!--          <div class="status__size">---byte</div>-->
        </div>
      <% end %>
    </div>
  </div>
</div>