<div class="main-tab">
  <div class="table-area">
    <table cellspacing="0" cellpadding="5">
      <!-- ヘッダ部定義 -->
      <tr>
      <th width="8%">投稿 ユーザ</th>
      <th width="8%">作成日時</th>
      <th width="4%">番号</th>
      <th width="24%">タイトル</th>
      <th width="3%">file</th>
      <th width="25%">内容</th>
      </tr>
      <!-- データ部定義 -->
      <% if @knowledge.present? %>
        <% @knowledges.each do |knowledge| %>
          <tr>
            <td><%= knowledge.user.name.truncate(10) %></td>
            <td><%= knowledge.created_at.strftime('%m/%d %H:%M') %></td>
            <td><%= link_to knowledge.id, krown_path(knowledge.id),remote: :true  %></td>
            <td><%= knowledge.title.truncate(25) %></td>
            <!-- 添付ファイル有無フラグチェック -->
            <% if knowledge.img_flg == "1" %>
              <td><i class="fas fa-file-alt"></i></td>
            <% else %>
              <td> - </td>
            <% end %>
            <td class="td-decoration"><%= knowledge.content.truncate(35) %></td>
          </tr>
        <% end %>
      <% else %>
          <tr>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
          </tr>
      <% end %>
    </table>
    </div>
    <div class="page-nation">
      <%= paginate(@knowledges) %>
    </div>
  </div>
