<!-- index画面 -->
<title>subaco トップページ</title>

<div class="contents">
  <!-- サイドコンテンツ(左側)表示 -->
  <%= render "./shared/sidecontents" %>

<div class="main-contents">

  <!-- メインコンテンツタイトル部表示 -->
  <%= render "maintitle"%>

  <!-- メインテーブル定義 -->
  <%= render "maintable" %>

  <!-- メインコンテンツヘッダ部表示 -->
  <%= render "mainheader"%>

  <!-- クラウン表示 -->
  <%= render "mainknowledge" %>

  <!-- main-contents 終了タグ -->
  </div>

<!-- contents 終了タグ -->
</div>
