<div class="contents">

  <%= render "./shared/sidecontents" %>

<div class="main-contents">
  <!-- メインヘッダー部定義 -->
  <div class="main-header">
    <div class="header-left">
      <div class="header-left__result">知識カテゴリ／<%= @knowledges[0].genre.in_genre %></div>
      <div class="header-left__result_p1">3つの登録ジャンルがあります。</div>
      <div class="header-left__result_p1">256個の登録ノウハウがあります。</div>
    </div>
  </div>

  <!-- メインテーブル定義 -->
  <div class="main-tab">
    <div class="table-area">
      <table cellspacing="0" cellpadding="5">
        <!-- ヘッダ部定義 -->
        <tr>
        <th width="8%">ユーザ</th>
        <th width="4%">番号</th>
        <th width="8%">作成日時</th>
        <th width="20%">タイトル</th>
        <th width="7%">file</th>
        <th width="25%">内容</th>
        </tr>
        <!-- データ部定義 -->


        <% @knowledges.each do |knowledge| %>
          <tr>
            <td><%= knowledge.user.name %></td>
            <td><%= knowledge.id %></td>
            <td><%= knowledge.created_at.strftime('%m/%d %H:%M') %></td>
            <td><%= knowledge.title %></td>
            <td>○img</td>
            <td class="td-decoration"><%= knowledge.content.truncate(35) %></td>
          </tr>
        <% end %>
      </table>
      </div>
    </div>

    <!-- クラウン表示 -->
    <div class="main-krown-area">
      <div class="krown-header">
        <div class="krown-header__category">カテゴリ： <%= @knowledges[0].genre.in_genre %></div>
        <div class="krown-header__date">作成日:<%= @knowledges[0].created_at.strftime('%y/%m/%d') %></div>
        <div class="krown-header__date">更新日:<%= @knowledges[0].updated_at.strftime('%y/%m/%d') %></div>
      </div>
      <div class="krown-title"><%= @knowledges[0].title %></div>
      <div class="krown-border"></div>
      <div class="krown-value">
        <%= simple_format(@knowledges[0].content) %>
      </div>
    </div>

    <!-- クラウンイメージ表示 -->
    <div class="main-krown-file">
      <div class="box">
        <div class="box__val">
          <img src="https://www.tcmobile.jp/dev_blog/wp-content/uploads/2015/09/022c1ca11803434db443573590757756.png" width="70" height="70">
        </div>
        <div class="status">
          <div class="status__name">sample_file.img</div>
          <div class="status__size">100kb</div>
        </div>
      </div>
      <div class="box">
        <div class="box__val">
          <img src="https://pics.prcm.jp/ad56d880abad8/72758073/jpeg/72758073.jpeg" width="70" height="70">
        </div>
        <div class="status">
          <div class="status__name">sample_file.img</div>
          <div class="status__size">100kb</div>
        </div>
      </div>
    </div>

  <!-- main-contents 終了タグ -->
  </div>

<!-- contents 終了タグ -->
</div>
